{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="py-5 text-center">
    <h1>Artwork Image Processor</h1>
    <p>This is a Django application that leverages a Deep Neural Net to transfer painting styles onto images. It also calls out to the Photo Tagger API to automatically tag the image with common labels.</p>

  <h1>
    <img src="{% static "example/example_unprocessed_image.jpg" %}" alt="Image" width="169" height="169" />
    <img src="{% static "example/example_style_artwork.jpg" %}" alt="Image" width="169" height="169" /> 
    <img src="{% static "example/example_processed_image.jpg" %}" alt="Image" width="169" height="169" />
  </h1>
  </div>

  <hr/>
  
  <div class="row">
    <div class="mx-auto">
      Created for DePaul SE491 Software Engineering Capstone
      <br>
      By:
      <ul>
        <li>Camille Rosewright</li>
        <li>Cecil Beeland</li>
        <li>Greg Zimmerman</li>
        <li>Wunyan Wong</li>
      </ul>
    </div>
  </div>

{% endblock %}
