{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'artwork_image_processor.views.simple_upload' %}">Simple Upload</a>
    </li>
    <li>
      <a href="{% url 'artwork_image_processor.views.model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in images %}
      <li>
        <img src="{{ obj.image }}" height="200" width="250" border="1"/>
	<a href="{{ obj.image.url }}">{{ obj.image.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
